@import 'mixins';

:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-light-blue: rgba(151, 177, 207, 1);
  --color-bg-blue: rgba(78, 75, 101, 0.5);
  --color-light-green: rgba(41, 219, 144, 1);
  --color-green: rgba(7, 53, 46, 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
}

input,
button,
select {
  outline: none;
  background: transparent;
  border: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Fauna Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;

  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  background: url('../images/main-bg.jpg') no-repeat center top / cover;

  @include mobile {
    background-image: url('../images/main-bg-sm.jpg');
  }
}

.container {
  max-width: 1860px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @include laptop {
    padding: 0 45px;
  }

  @include mobile {
    padding: 0 15px;
  }
}

// Header

.header {
  position: relative;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 2px solid var(--color-white);
    padding: 47px 0 26px 42px;
    position: relative;

    @include laptop {
      padding: 61px 10px 22px 21px;
    }

    @include mobile {
      padding: 34px 0 9px;
      border-width: 1px;
    }
  }

  &__logo {
    max-width: 278px;
    width: 100%;
    overflow: hidden;

    @include laptop {
      max-width: 230px;
    }

    @include mobile {
      margin-left: 0;
      width: 29px;
      height: 35px;
    }
    img {
      width: 100%;
      object-fit: contain;
    }

    &--desktop {
      @include mobile {
        display: none;
      }
    }

    &--mobile {
      display: none;
      @include mobile {
        display: block;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 53px;
    position: absolute;
    top: 50%;
    left: 50.8%;
    transform: translate(-50%, -50%);
    height: 100%;

    @include laptop {
      gap: 55px;
      left: 53.4%;
    }

    @include mobile {
      gap: 5px;
      margin-left: -20px;
      left: 50.8%;
    }
    li {
      position: relative;
      padding: 0 13px;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover::after,
      &:hover::before {
        opacity: 1;
      }
      &:hover a {
        color: var(--color-white);
      }

      @include laptop {
        padding: 0 20px;
        &:last-child {
          margin-left: 27px;
        }
      }

      @include mobile {
        padding: 0 5px;
      }

      &::after {
        content: '';
        position: absolute;
        width: calc(100% + 2px);
        height: 100%;
        display: block;
        top: -2px;
        left: 0;
        background: linear-gradient(
          to bottom,
          rgba(40, 97, 92, 0.6),
          rgba(40, 97, 92, 0.4),
          rgba(40, 97, 92, 0.2),
          rgba(40, 97, 92, 0.1),
          rgba(40, 97, 92, 0)
        );
        opacity: 0;
        transition: all 0.2s ease;
      }

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        bottom: -2px;
        background-color: #37dd97;
        transition: all 0.2s ease;
        opacity: 0;
        transition: all 0.2s ease;
      }
    }
    a {
      color: var(--color-light-blue);
      font-size: 35px;
      line-height: 1;
      text-transform: uppercase;
      font-weight: 200;
      white-space: nowrap;
      position: relative;
      margin-top: 28px;
      z-index: 10;
      position: relative;
      transition: all 0.2s ease;

      @include laptop {
        font-size: 30px;
        margin-top: 45px;
      }

      @include mobile {
        font-size: 16px;
        margin-top: 20px;
      }
    }
  }
}

// Main
.main {
  flex: 1;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    @include mobile {
      padding: 0 13px;
    }
  }

  @include mobile {
    padding-bottom: 73px;
    align-items: flex-end;
  }

  &__content {
    max-width: 830px;
    width: 100%;
    margin-left: 45px;
    margin-top: -23px;

    @include laptop {
      max-width: 652px;
      margin-left: -13px;
      margin-top: -15px;
    }

    @include mobile {
      margin-left: 0;
    }
    &--title {
      color: var(--color-white);
      font-size: 47px;
      line-height: 1.1;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 38px;
      font-weight: 700;
      margin-left: -18px;

      span {
        display: block;
        &:last-child {
          margin-left: 20px;
        }
      }

      @include laptop {
        font-size: 32px;
        margin-bottom: 30px;
        margin-left: 60px;
      }

      @include mobile {
        margin-left: 0;
        margin-bottom: 0;
        span:last-child {
          margin-left: 0;
        }

        font-size: 24px;
        margin-bottom: 25px;
      }
    }

    &--subtitle {
      font-weight: 200;
      font-family: 'Fauna Pro Extra', sans-serif;
      font-size: 28px;
      line-height: 1.1;
      color: rgba(194, 211, 230, 1);
      margin-bottom: 38px;
      text-align: center;
      margin-left: -8px;
      @include laptop {
        font-size: 22px;
        margin-bottom: 47px;
        transform: translateX(41px);
      }

      @include mobile {
        margin-left: 0;
        font-size: 20px;
        margin-bottom: 25px;
        transform: translateX(0px);
      }
    }
    &--btn {
      display: block;
      min-width: 351px;
      height: 96px;
      padding: 20px;
      letter-spacing: 1px;
      display: flex;
      justify-content: center;
      align-items: center;

      color: var(--color-white);
      font-size: 40px;
      line-height: 1.1;
      text-transform: uppercase;
      background: linear-gradient(180deg, #65f2c2, #34e19c);
      color: var(--color-green);
      margin: 0 auto -12px;
      width: fit-content;
      box-shadow: 0px -21px 31.9px 0px rgba(41, 219, 144, 1) inset;
      box-shadow: 0px 21px 31.9px 0px rgba(98, 241, 188, 1) inset;
      box-shadow: 0px 2px 4.6px 0px rgba(159, 246, 218, 1) inset;
      box-shadow: 0px -1px 4.6px 0px rgba(159, 246, 218, 1) inset;
      box-shadow: 0px 1px 2px 0px rgba(63, 63, 78, 0.31);

      clip-path: polygon(
        15px 0%,
        /* top-left clipped */ 100% 0%,
        100% calc(100% - 15px),
        calc(100% - 15px) 100%,
        /* bottom-right clipped */ 0% 100%,
        0% 15px
      );

      span {
        margin-top: 3px;
      }

      @include laptop {
        min-width: 289px;
        height: 79px;
        font-size: 30px;
      }

      @include mobile {
        min-width: 211px;
        height: 63px;
        font-size: 25px;

        clip-path: polygon(
          10px 0%,
          /* top-left clipped */ 100% 0%,
          100% calc(100% - 10px),
          calc(100% - 10px) 100%,
          /* bottom-right clipped */ 0% 100%,
          0% 10px
        );
      }
    }
  }
}

// Footer
.footer {
  &__wrapper {
    padding: 20px 20px 25px 23px;
    border-top: 1px solid var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include laptop {
      padding: 16px 20px 19px 23px;
    }

    @include mobile {
      padding: 14px 20px 23px 7px;
    }
  }

  &__social {
    display: flex;
    align-items: center;

    margin-bottom: -3px;

    @include mobile {
      margin: 0;
    }

    &--link {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 7px;
      text-align: center;
      margin-right: 37px;

      @include mobile {
        margin-right: 25px;
        &:nth-child(3) {
          margin-right: 12px;
        }
      }

      img {
        @include mobile {
          zoom: 0.8;
        }
      }

      &:nth-child(2) {
        margin-right: 27px;
      }
      &:nth-child(3) {
        margin-right: 25px;
      }

      p {
        font-size: 13px;
        line-height: 1.1;
        font-weight: 700;
        color: var(--color-white);
        text-align: center;

        @include mobile {
          font-size: 10px;
        }
      }
    }
  }
  &__content {
    font-size: 26px;
    line-height: 1;
    color: var(--color-white);
    font-weight: 300;
    text-transform: uppercase;
  }
}
