@import 'mixins';

:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-light-blue: rgba(151, 177, 207, 1);
  --color-bg-blue: rgba(78, 75, 101, 0.5);
  --color-light-green: rgba(41, 219, 144, 1);
  --color-green: rgba(7, 53, 46, 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
}

input,
button,
select {
  outline: none;
  background: transparent;
  border: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Fauna Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;

  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  background: url('../img/main-bg.jpg') no-repeat center top / cover;

  @include laptopBig {
    background-image: url('../img/main-bg-md.jpg');
  }

  @include mobile {
    background-image: url('../img/main-bg-sm.jpg');
  }

  position: relative;
  &::after {
    content: '';
    width: 100%;
    display: block;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    width: 100%;
    height: 25dvh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &::before {
    content: '';
    width: 100%;
    display: block;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    width: 100%;
    height: 25dvh;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

.container {
  max-width: 1860px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @include laptopBig {
    padding: 0 45px;
  }

  @include laptopSm {
    padding: 0 15px;
  }

  @include mobileSm {
    padding: 0 5px !important;
  }
}

// Header

.header {
  position: relative;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 2px solid var(--color-white);
    padding: 61px 0 26px 42px;
    position: relative;

    @include laptopBig {
      padding: 40px 0 16px 20px;
    }

    @include laptopSm {
      padding-left: 0;
    }

    @include mobile {
      padding: 37px 0 16px 7px;
      border-width: 1px;
    }

    @include mobileSm {
      padding: 15px 0 15px 7px;
    }
  }

  &__logo {
    max-width: 215px;
    width: 100%;
    overflow: hidden;

    @include laptopBig {
      max-width: 175px;
    }

    @include mobile {
      max-width: 24px;
    }

    img {
      width: 100%;
      object-fit: contain;
    }

    &--desktop {
      @include mobile {
        display: none;
      }
    }

    &--mobile {
      display: none;
      @include mobile {
        display: block;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 31%;
    transform: translate(-36%, -50%);
    height: 100%;

    @include laptopBig {
      left: 34.35%;
      transform: translate(-37%, -50%);
      gap: 15px;
    }

    @include laptopSm {
      left: unset;
      transform: translateX(0) translateY(-50%);
      right: 0;
    }

    @include mobile {
      left: 47%;
      transform: translate(-50%, -50%);
      right: unset;
      gap: 0;
    }

    @include mobileSm {
      left: unset;
      transform: translateX(0) translateY(-50%);
      right: 0;
    }

    li {
      position: relative;
      padding: 0 45px;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include laptopBig {
        padding: 0 40px;
      }

      @include laptopSm {
        padding: 0 10px;
      }

      &:hover::after,
      &:hover::before {
        opacity: 1;
      }
      &:hover a {
        color: var(--color-white);
      }

      &::after {
        content: '';
        position: absolute;
        width: calc(100% + 2px);
        height: 100%;
        display: block;
        top: -2px;
        left: 0;
        background: linear-gradient(
          to bottom,
          rgba(40, 97, 92, 0.6),
          rgba(40, 97, 92, 0.4),
          rgba(40, 97, 92, 0.2),
          rgba(40, 97, 92, 0.1),
          rgba(40, 97, 92, 0)
        );
        opacity: 0;
        transition: all 0.2s ease;
      }

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        bottom: -2px;
        background-color: #37dd97;
        transition: all 0.2s ease;
        opacity: 0;
        transition: all 0.2s ease;
      }
    }
    a {
      color: var(--color-light-blue);
      font-size: 20px;
      line-height: 1;
      text-transform: uppercase;
      font-weight: 200;
      white-space: nowrap;
      position: relative;
      margin-top: 37px;
      z-index: 10;
      position: relative;
      transition: all 0.2s ease;

      @include laptopBig {
        font-size: 16px;
        margin-top: 33px;
      }

      @include mobile {
        font-size: 12px;
        margin-top: 20px;
      }
      @include mobileSm {
        margin-top: 10px;
      }
    }
  }
}

// Main
.main {
  flex: 1;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    align-items: flex-end;
  }

  .container {
    @include mobile {
      padding: 0 13px 67px;
    }

    @include mobileSm {
      padding-bottom: 25px;
    }
  }

  &__content {
    max-width: 593px;
    width: 100%;
    margin-left: 72px;
    margin-top: -10px;

    @include laptopBig {
      max-width: 475px;
      margin-left: 70px;
      margin-top: 20px;
    }

    @include mobile {
      margin-top: 0;
      margin-left: 8px;
      max-width: 395px;
    }
    @include mobileSm {
      margin-left: 0;
    }

    &--title {
      color: var(--color-white);
      font-size: 30px;
      line-height: 1.1;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 45px;
      font-weight: 700;

      @include laptopBig {
        font-size: 23px;
        margin-bottom: 57px;
      }

      @include mobile {
        font-size: 18px;
        margin-bottom: 18px;
      }

      span {
        display: block;
      }
    }

    &--suptitle {
      margin-bottom: 25px !important;
      @include laptopBig {
        margin-bottom: 30px !important;
      }
      @include mobile {
        margin-bottom: 12px !important;
      }
    }
    &--subtitle {
      font-weight: 200;
      font-size: 20px;
      line-height: 1.1;
      color: rgba(194, 211, 230, 1);
      margin-bottom: 45px;
      text-align: center;
      @include laptopBig {
        font-size: 16px;
        margin-bottom: 51px;
      }

      @include mobile {
        font-size: 12px;
        margin-bottom: 18px;
      }
    }
    &--btn {
      display: block;
      min-width: 299px;

      height: 83px;
      padding: 20px;
      letter-spacing: 1px;
      display: flex;
      justify-content: center;
      align-items: center;

      color: var(--color-white);
      font-size: 30px;
      line-height: 1.1;
      text-transform: uppercase;
      background: linear-gradient(180deg, #65f2c2, #34e19c);
      color: var(--color-green);
      margin: 0 auto;
      width: fit-content;
      box-shadow: 0px -21px 31.9px 0px rgba(41, 219, 144, 1) inset;
      box-shadow: 0px 21px 31.9px 0px rgba(98, 241, 188, 1) inset;
      box-shadow: 0px 2px 4.6px 0px rgba(159, 246, 218, 1) inset;
      box-shadow: 0px -1px 4.6px 0px rgba(159, 246, 218, 1) inset;
      box-shadow: 0px 1px 2px 0px rgba(63, 63, 78, 0.31);

      clip-path: polygon(
        15px 0%,
        /* top-left clipped */ 100% 0%,
        100% calc(100% - 15px),
        calc(100% - 15px) 100%,
        /* bottom-right clipped */ 0% 100%,
        0% 15px
      );

      span {
        margin-top: 3px;
        margin-left: 12px;
        position: relative;
        z-index: 5;
      }

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, #72f7d9, #43cfa2, #23c18f, #1bd097);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        z-index: 0;
      }
      &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, #0c8b5a, #4ce0aa);
        opacity: 0;
        transition: opacity 0.1s;
        z-index: 0;
      }

      position: relative;
      z-index: 1;

      &:hover::before {
        opacity: 1;
      }

      &:active {
        &::after {
          opacity: 1;
        }

        &::before {
          transition: none;
          opacity: 0;
        }
      }

      @include laptopBig {
        min-width: 209px;
        height: 61px;
        font-size: 23px;
      }

      @include mobile {
        min-width: 165px;
        height: 55px;
        font-size: 18px;
        padding: 10px;
      }
    }
  }
}

// Footer
.footer {
  &__wrapper {
    padding: 20px 20px 25px 23px;
    border-top: 1px solid var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include laptopBig {
      padding: 16px 20px 16px 23px;
    }

    @include mobile {
      padding: 10px 10px 18px;
    }

    @include mobileSm {
      padding: 5px 5px 10px;
    }
  }

  &__social {
    display: flex;
    align-items: center;

    &--link {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 7px;
      text-align: center;
      margin-right: 40px;
      color: rgba(151, 177, 207, 1);
      svg {
        width: 100%;
        display: block;
      }

      @include laptopBig {
        gap: 12px;
      }

      @include mobile {
        gap: 10px;
        margin-right: 25px;
      }

      @include mobileSm {
        gap: 5px;
      }

      transition: all 0.3s ease-in-out;
      width: 42px;

      &:nth-child(3) {
        width: 48px;
      }
      &:nth-child(4) {
        width: 35px;
      }

      @include mobile {
        width: 35px;

        &:nth-child(3) {
          width: 39px;
        }
        &:nth-child(4) {
          width: 25px;
        }
      }

      @include mobileSm {
        width: 25px;

        &:nth-child(3) {
          width: 29px;
        }
        &:nth-child(4) {
          width: 20px;
        }
      }

      p {
        font-size: 12px;
        line-height: 1.1;
        font-weight: 700;
        text-align: center;

        @include laptopBig {
          font-size: 10px;
        }
      }

      &:hover {
        color: var(--color-white);
        text-decoration: underline;
      }
    }
  }
  &__content {
    font-size: 26px;
    line-height: 1;
    color: var(--color-white);
    font-weight: 300;
    text-transform: uppercase;
  }
}
