<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__social">
        <a href="#" class="footer__social--link">
          <img src="icons/telegram.svg" alt="telegram" />
          <p>chat</p>
        </a>
        <a href="#" class="footer__social--link">
          <img src="icons/telegram.svg" alt="telegram" />
          <p>news</p>
        </a>
        <a href="#" class="footer__social--link">
          <img src="icons/discord.svg" alt="discord" />
          <p>discord</p>
        </a>
        <a href="#" class="footer__social--link">
          <img src="icons/twitter.svg" alt="twitter" />
          <p>x.com</p>
        </a>
      </div>
    </div>
  </div>
</footer>
