<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__social">
        <a href="#" class="footer__social--link">
          <img src="icons/telegram.svg" alt="telegram" />
        </a>
        <a href="#" class="footer__social--link">
          <img src="icons/discord.svg" alt="discord" />
        </a>
        <a href="#" class="footer__social--link">
          <img src="icons/twitter.svg" alt="twitter" />
        </a>
      </div>
      <div class="footer__content">18+ only. free to play.</div>
    </div>
  </div>
</footer>
