<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="/" class="header__logo">
        <img src="images/logo.png" alt="logo " />
      </a>

      <nav class="header__nav">
        <a href="#" class="header__nav--link">Main</a>
        <a href="#" class="header__nav--link">white paper</a>
        <a href="#" class="header__nav--link">blog </a>
      </nav>

      <div class="header__lang">
        <div class="header__lang--selected">
          <img src="icons/polygon.svg" alt="polygon" /><span>EN</span>
        </div>
        <div class="header__lang--list">
          <div class="header__lang--item" data-value="en">EN</div>
          <div class="header__lang--item" data-value="ru">RU</div>
        </div>
      </div>
    </div>
  </div>
</header>
