<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="/" class="header__logo">
        <img src="images/logo.png" alt="logo " />
      </a>

      <ul class="header__nav">
        <li>
          <a href="#" class="header__nav--link">Main</a>
        </li>
        <li>
          <a href="#" class="header__nav--link">white paper</a>
        </li>
        <li>
          <a href="#" class="header__nav--link">blog </a>
        </li>
      </ul>
    </div>
  </div>
</header>
