<main class="main">
  <div class="container">
    <div class="main__content">
      <h1 class="main__content--title">
        <span>DRILL. LOOT. REPEAT.</span>
        <span>THEN BUILD AN EMPIRE.</span>
      </h1>
      <p class="main__content--subtitle">
        CosmoFox is a Telegram-native Web3 game. Start as a space-mining fox, drilling planets,
        collecting Dust, and upgrading your ship!
      </p>
      <a href="#" class="main__content--btn"><span>JOIN NOW</span></a>
    </div>
  </div>
</main>
